@charset "UTF-8";
@import url("/Users/helen/Library/Fonts/Kiona-Regular.ttf");
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --cor-principal: #D37185;
    --cor-secundaria: #B04F6A;
    --cor-apoio: #FEF2F2;
    --cor-base: #FFFFFF;
    --cor-padrao: #44433F;

    --font-destaque: 'Poppins', sans-serif;
    --font-corpo: kiona-regular;
}

@media all {
    *{
        box-sizing: border-box;
    }

    body{
        background-color: var(--cor-base);
    }

    .tratamentos, .marcacoes{
        color: var(--cor-secundaria);
        font-family: var(--font-destaque);
        text-align: center;
        font-size: 16px;
        padding: 15px;
    }

    a {
        text-decoration: none;
        text-align: center;
    }
}

/* versao mobile 360px a 813px */

@media screen and (min-width: 360px) and (max-width: 812px) {
    
    main{
        margin: auto;
        text-align: center;
        padding: 15px;
        width: 100vw;
        height: 98vh;
    }

    .logo {
        width: 260px;
        height:270px;
    }

    .flex-container {
        display: block;
        position: relative;
    }

    .tratamentos {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        height: 80px;
        background: linear-gradient(#FFFFFF, #FFFFFF) padding-box,
        linear-gradient(to right, #d6bd89, #bfa370, #d6bd89, #bfa370) border-box;
        border-radius: 50px;
        border: 2px solid transparent;
        margin-top: 10px;
        
    }

    .marcacoes {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        height: 80px;
        background: linear-gradient(#FFFFFF, #FFFFFF) padding-box,
        linear-gradient(to right, #d6bd89, #bfa370, #d6bd89, #bfa370) border-box;
        border-radius: 50px;
        border: 2px solid transparent;
        margin-top: 10px;
        
    }
}

/* versao desktop 812 px a 1080px */

@media screen and (min-width: 813px) and (max-width: 1950px) {

    main{
        margin: auto;
        text-align: center;
        padding: 15px;
        width: 70vw;
        height: 98vh;
    }

    .logo {
        width: 370px;
        height:360px;
        
    }

    .flex-container {
        display: flex;
        justify-content: space-evenly;
        
    }

    .marcacoes {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 300px;
        height: 80px;
        background: linear-gradient(#FFFFFF, #FFFFFF) padding-box,
        linear-gradient(to right, #d6bd89, #bfa370, #d6bd89, #bfa370) border-box;
        border-radius: 50px;
        border: 2px solid transparent;
        margin-top: 10px;
    }

    .tratamentos {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 300px;
        height: 80px;
        background: linear-gradient(#FFFFFF, #FFFFFF) padding-box,
        linear-gradient(to right, #d6bd89, #bfa370, #d6bd89, #bfa370) border-box;
        border-radius: 50px;
        border: 2px solid transparent;
        margin-top: 10px;
    }

}
    
