@charset "UTF-8";

@import url("/Users/helen/Library/Fonts/Kiona-Regular.ttf");
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --cor-principal: #D37185;
    --cor-secundaria: #B04F6A;
    --cor-apoio: #CD9E25;
    --cor-base: #F8F8F8;
    --cor-padrao: #44433F;

    --font-destaque: 'Poppins', sans-serif;
    --font-corpo: kiona-regular;
}

@media all {
    
}


/* versao mobile 360px a 813px */
@media screen and (min-width: 360px) and (max-width: 812px) {
    body{
        background-image: url("../../assets/background2.jpg");
        background-size: cover; 
        /* trocar o cover por outra propriedade para arrumar a img de background */
    }

    main {
        position: absolute;
        text-align: center;
        padding: 10px;
        margin: auto;
        background-color: var(--cor-base);
        width: 80vw;
        height: 90vh;
        border-radius: 10px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    h1 {
        color: var(--cor-secundaria);
        font-family: var(--font-destaque);
        text-align: center;
        font-size: 28px;
        padding: 20px 20px 30px 20px; 
        margin: 0px;
    }

    .iconback {
        
        display: flex;
        justify-content: flex-start;
        padding: 15px;
    }

    .flex-container {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: center;
    }

    .card {
        display: flex;
        width: 35vw;
        height: 20vh;
        border: 1px solid black;
        border-radius: 6px;
        flex-direction: column;
        background: linear-gradient(#F8F8F8, #F8F8F8) padding-box,
        linear-gradient(to right, #d6bd89, #bfa370, #d6bd89, #bfa370) border-box;
        border-radius: 10px;
        border: 2px solid transparent;
        flex: 1 1 calc(33,33% - 40px);
        align-items: center;
        justify-content: center;
    }

}

